body{
    display: flex;
    background-color: rgb(238, 238, 238);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: rgb(255, 255, 255);
    max-width: 20em;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}